<div id="contact" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>

      <div class="modal-body">

        <form class="form-horizontal form-contact clearfix" action="https://formspree.io/f/your-form-id" method="POST">
          
          <!-- Message Section -->
          <div class="form-group">
            <label for="message" class="message-label">Dear Sneh,</label>
            <textarea id="message" class="message form-control" rows="8" name="body" placeholder="Type your message..." required></textarea>
          </div>

          <!-- Sender's Information -->
          <div class="form-group">
            <label for="name">Sincerely,</label>
            <input type="text" id="name" class="name form-control" name="name" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <label for="email">Your Email</label>
            <input type="email" id="email" class="email form-control" name="_replyto" placeholder="Your Email" required>
          </div>

          <!-- Submit Button -->
          <input type="submit" class="btn btn-default" style="float: right;" value="Send">

        </form>

      </div>

    </div>

  </div>
</div>
